In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv('Data_choice.csv')

In [ ]:
df.head()

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,verification,expectedSignature,errorMessage,completeLink,screenOutLink,overQuotaLink,invalidSignatureLink,customLink1,customLink2,customLink3
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,verification,expectedSignature,errorMessage,completeLink,screenOutLink,overQuotaLink,invalidSignatureLink,customLink1,customLink2,customLink3
1,"{""ImportId"":""startDate"",""timeZone"":""America/De...","{""ImportId"":""endDate"",""timeZone"":""America/Denv...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""verification""}","{""ImportId"":""expectedSignature""}","{""ImportId"":""errorMessage""}","{""ImportId"":""completeLink""}","{""ImportId"":""screenOutLink""}","{""ImportId"":""overQuotaLink""}","{""ImportId"":""invalidSignatureLink""}","{""ImportId"":""customLink1""}","{""ImportId"":""customLink2""}","{""ImportId"":""customLink3""}"
2,6/29/2023 13:00,6/29/2023 13:01,IP Address,143.44.165.196,100,59,TRUE,6/29/2023 13:01,R_3EulwPYBK6WyfZa,NaN,...,success,c291d620d5feeac2468e42275924c9adbe30c95e284263...,NaN,https://dkr1.ssisurveys.com/projects/end?rst=1...,https://dkr1.ssisurveys.com/projects/end?rst=2...,https://dkr1.ssisurveys.com/projects/end?rst=3...,https://dkr1.ssisurveys.com/projects/end?rst=2...,NaN,NaN,NaN
3,6/29/2023 13:02,6/29/2023 13:02,IP Address,143.44.165.196,100,33,TRUE,6/29/2023 13:02,R_3k5RTyT3hCAEE6j,NaN,...,success,af9f76a0c204e720bf95c59da0f57f52b26c0a91ec4ca6...,NaN,https://dkr1.ssisurveys.com/projects/end?rst=1...,https://dkr1.ssisurveys.com/projects/end?rst=2...,https://dkr1.ssisurveys.com/projects/end?rst=3...,https://dkr1.ssisurveys.com/projects/end?rst=2...,NaN,NaN,NaN
4,6/29/2023 13:03,6/29/2023 13:12,IP Address,143.44.165.196,100,542,TRUE,6/29/2023 13:12,R_TgOIylYPKFT9V2p,NaN,...,success,c548a6ded067c05e5f2e5c3f55310aa59b82bada637df0...,NaN,https://dkr1.ssisurveys.com/projects/end?rst=1...,https://dkr1.ssisurveys.com/projects/end?rst=2...,https://dkr1.ssisurveys.com/projects/end?rst=3...,https://dkr1.ssisurveys.com/projects/end?rst=2...,NaN,NaN,NaN

## Mapping and Function

In [13]:
column_mapping = {'1.1': 'EVExp', 
                  '0.1': 'Age', 
                  '9.1': 'Gender',
                  '9.6': 'Income',
                  'A1.3': 'EVBrand',
                  '9.3': 'Ethnic',
                  '9.4': 'Education',
                  '9.5': 'Occupation',
                  'A6.7_2': 'ChargeTimePref'
                 }

age_mapping = {
               'Under 18': 'Under 35', 
               '18-24':'Under 35', 
               '25-34': 'Under 35',
               '35-44': '35-54',
               '45-54': '35-54',
               '55-64': 'Over 54',
               'Over 65': 'Over 54'
              }

## Data Preparation

In [14]:
sp_df = df.iloc[2:, np.concatenate(([8], [18], [20], [22], [156], [204], np.arange(211,215), np.arange(180, 204)))]

# rename column
sp_df.rename(columns = column_mapping, 
                    inplace = True)

# redefine age
sp_df['Age'] = sp_df['Age'].map(age_mapping)

sp_df.iloc[:3, :15]

,ResponseId,Age,EVExp,EVBrand,ChargeTimePref,Gender,Ethnic,Education,Occupation,Income,G1.1,G1.2,G1.4,G1.5,G1.3
2,R_3EulwPYBK6WyfZa,Under 35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R_3k5RTyT3hCAEE6j,Under 35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,R_TgOIylYPKFT9V2p,Under 35,I currently own an EV,Tesla,From 9:01AM to 12:00 PM,Male,Hispanic,College graduate,Employed full-time,"$100,000 - $149,999",NaN,NaN,NaN,NaN,NaN

In [15]:
scenario_question = sp_df.columns.values[10:]

scenario_question

array(['G1.1', 'G1.2', 'G1.4', 'G1.5', 'G1.3', 'G1.6', 'G2.2', 'G2.1',
       'G2.3', 'G2.4', 'G2.5', 'G2.6', 'G3.1', 'G3.2', 'G3.3', 'G3.4',
       'G3.5', 'G3.6', 'G4.1', 'G4.2', 'G4.3', 'G4.4', 'G4.5', 'G4.6'],
      dtype=object)

In [ ]:
# melt the dataframe to fit Apollo data format

melted_sp_df = sp_df.melt(id_vars=['ResponseId', 'Age', 'Gender', 'Income', 'EVExp', 
                                   'EVBrand', 'ChargeTimePref', 'Ethnic', 'Education', 'Occupation'], 
                          value_vars = scenario_question, 
                          var_name= 'Scenario', value_name='Decision')

melted_sp_df['EVExp'] = melted_sp_df['EVExp'].apply(lambda x: 'No EV Experience' if x == 'I have never owned or leased an EV' else 'Have EV Experience')

melted_sp_df[:25]

,ResponseId,Age,Gender,Income,EVExp,EVBrand,ChargeTimePref,Ethnic,Education,Occupation,Scenario,Decision
0,R_3EulwPYBK6WyfZa,Under 35,NaN,NaN,Have EV Experience,NaN,NaN,NaN,NaN,NaN,G1.1,NaN
1,R_3k5RTyT3hCAEE6j,Under 35,NaN,NaN,Have EV Experience,NaN,NaN,NaN,NaN,NaN,G1.1,NaN
2,R_TgOIylYPKFT9V2p,Under 35,Male,"$100,000 - $149,999",Have EV Experience,Tesla,From 9:01AM to 12:00 PM,Hispanic,College graduate,Employed full-time,G1.1,NaN
3,R_2tajXP62L3SAsrG,Under 35,NaN,NaN,Have EV Experience,Tesla,NaN,NaN,NaN,NaN,G1.1,NaN
4,R_1gBGROfjKG1gZiA,Under 35,NaN,NaN,Have EV Experience,Tesla,From 9:01AM to 12:00 PM,NaN,NaN,NaN,G1.1,NaN
5,R_2OHpvK8sYWaO4X5,Under 35,NaN,NaN,Have EV Experience,Tesla,NaN,NaN,NaN,NaN,G1.1,NaN
6,R_3Ea3HC1XWRPsGJz,35-54,NaN,NaN,No EV Experience,NaN,NaN,NaN,NaN,NaN,G1.1,NaN
7,R_6Y9umb9PzbWLKbn,Under 35,NaN,NaN,No EV Experience,NaN,NaN,NaN,NaN,NaN,G1.1,NaN
8,R_ac0vQlR8fnjuWit,Over 54,NaN,NaN,Have EV Experience,NaN,NaN,NaN,NaN,NaN,G1.1,NaN
9,R_01kwucXm0MElvSp,Over 54,NaN,NaN,No EV Experience,NaN,NaN,NaN,NaN,NaN,G1.1,NaN
10,R_2XdOzJEdrkWD6uD,Over 54,NaN,NaN,No EV Experience,NaN,NaN,NaN,NaN,NaN,G1.1,NaN
11,R_TmT8k07PG7HKRu9,Under 35,NaN,NaN,Have EV Experience,NaN,NaN,NaN,NaN,NaN,G1.1,NaN
12,R_1roAenwny1YeAyi,Under 35,NaN,NaN,Have EV Experience,NaN,NaN,NaN,NaN,NaN,G1.1,NaN
13,R_2VRbSqvwdcuHMwk,Over 54,NaN,NaN,No EV Experience,NaN,NaN,NaN,NaN,NaN,G1.1,NaN
14,R_1hSwfRkhnov0tna,35-54,Female,"$100,000 - $149,999",No EV Experience,NaN,NaN,Non-hispanic,Graduate or professional school,Employed full-time,G1.1,NaN
15,R_3dEQaOVIHejrN2r,35-54,NaN,NaN,No EV Experience,NaN,NaN,NaN,NaN,NaN,G1.1,NaN
16,R_30ieU8nwPpa1jxg,Over 54,Female,"$25,000 - $49,999",No EV Experience,NaN,NaN,Non-hispanic,High school graduate,Retired,G1.1,DCFC
17,R_1jm0bn9da6dM55Y,35-54,NaN,NaN,No EV Experience,NaN,NaN,NaN,NaN,NaN,G1.1,NaN
18,R_1LLlf1gpDHLh7dp,Over 54,Female,"$150,000 or more",No EV Experience,NaN,NaN,Non-hispanic,Graduate or professional school,Retired,G1.1,DCFC
19,R_31mcAwHxlY2gLee,Under 35,Female,"$75,000 - $99,999",No EV Experience,NaN,NaN,Non-hispanic,High school graduate,Employed full-time,G1.1,NaN
20,R_1PTxx5FEoSkd85R,35-54,NaN,NaN,No EV Experience,NaN,NaN,NaN,NaN,NaN,G1.1,NaN
21,R_3MLshTuZzETWQG9,35-54,Female,"$50,000 - $74,999",No EV Experience,NaN,NaN,Non-hispanic,Some college,Employed full-time,G1.1,NaN
22,R_33scWs7EMWfsrGq,Under 35,Male,"$50,000 - $74,999",Have EV Experience,Toyota,NaN,Hispanic,Graduate or professional school,Employed full-time,G1.1,DCFC
23,R_1lrul5Nb6fAOycN,Over 54,NaN,NaN,No EV Experience,NaN,NaN,NaN,NaN,NaN,G1.1,NaN
24,R_1FqzRmJ6mEiWQwG,Over 54,Male,"$50,000 - $74,999",No EV Experience,NaN,NaN,Non-hispanic,Some college,Retired,G1.1,NaN

In [17]:
choice_exp = melted_sp_df.dropna(subset = ['Decision']).reset_index(drop=True)
choice_exp[:25]
choice_exp.info()
choice_exp.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6618 entries, 0 to 6617
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ResponseId      6618 non-null   object
 1   Age             6618 non-null   object
 2   Gender          6558 non-null   object
 3   Income          6558 non-null   object
 4   EVExp           6618 non-null   object
 5   EVBrand         594 non-null    object
 6   ChargeTimePref  120 non-null    object
 7   Ethnic          6558 non-null   object
 8   Education       6558 non-null   object
 9   Occupation      6558 non-null   object
 10  Scenario        6618 non-null   object
 11  Decision        6618 non-null   object
dtypes: object(12)
memory usage: 620.6+ KB

(6618, 12)

## SP Survey Data

In [18]:
sp_question = {
    'Scenario': scenario_question,
    'SoC': np.array([
            80, 50, 30, 80, 50, 80, #G1
            30, 50, 30, 30, 30, 50, #G2
            50, 50, 30, 30, 30 ,30, #G2
            80, 50, 50, 30, 50, 80  #G4
            ]),
    'Cost_Level2': [
                 3, 5, 15, 3, 4, 3, 
                 15, 4, 15, 15, 15, 5, 
                 4, 4, 15, 15, 15, 15, 
                 3, 4, 5, 15, 5, 3
                 ],
    'Cost_DCFC': [
                 11, 8, 21, 11, 8, 11, 
                 27, 8, 27, 21, 21, 8, 
                 8, 11, 27, 21, 21, 27, 
                 8, 8, 11, 27, 8, 8
                 ],
    'Cost_DWPT': [
                 22, 16, 35, 22, 16, 16, 
                 35, 22, 35, 28, 40, 22, 
                 16, 19, 40, 40, 28, 35, 
                 19, 16, 19, 28, 19, 19
                 ],
    
    'Charging_Time_Level2': [
                          60, 120, 240, 60, 90, 60, 
                          240, 90, 240, 240, 240, 120, 
                          90, 90, 240, 240, 240, 240, 
                          60, 90, 120, 240, 120, 60
                          ],
    'Charging_Time_DCFC': [
                          10, 4, 14, 10, 4, 10, 
                          4, 4, 24, 14, 14, 6, 
                          6, 10, 14, 24, 24, 14, 
                          6, 6, 10, 14, 6, 4
                          ],
    'Charging_Time_DWPT': np.zeros((24,), dtype=int),
    
    'Access_Time_Level2': [
                        3, 9, 3, 3, 6, 6, 
                        9, 3, 6, 3, 6, 6, 
                        9, 3, 9, 6, 9, 6, 
                        6, 9, 3, 3, 9, 3
                        ],
    'Access_Time_DCFC': [
                        15, 5, 15, 15, 10, 10, 
                        5, 15, 10, 15, 10, 10, 
                        5, 15, 5, 10, 5, 10, 
                        10, 5, 15, 15, 5, 15
                        ],
    'Access_Time_DWPT': np.zeros((24,), dtype=int),
    
    'Waiting_Time_Level2': [
                         6, 3, 6, 6, 6, 0, 
                         0, 0, 6, 0, 3, 3, 
                         3, 0, 3, 0, 3, 3, 
                         6, 0, 0, 6, 6, 6
                         ],
    'Waiting_Time_DCFC': [
                         5, 15, 5, 5, 5, 30, 
                         30, 30, 5, 30, 15, 15, 
                         15, 30, 15, 30, 15, 15, 
                         5, 30, 30, 5, 5, 5
                         ],
    'Waiting_Time_DWPT': np.zeros((24,), dtype=int),
    
    'Total_Time_Level2': [
                       154, 217, 334, 154, 187, 151,
                       334, 178, 337, 328, 334, 214, 
                       187, 178, 337, 331, 337, 334, 
                       157, 184, 208, 334, 220, 154
                       ],
    'Total_Time_DCFC': [
                       115, 109, 119, 115, 104, 135,
                       144, 134, 124, 144, 124, 116, 
                       111, 140, 119, 149, 129, 124, 
                       106, 126, 140, 119, 101, 109
                       ],
    'Total_Time_DWPT': np.full(24, 85),
    
    'Restroom_Level2': [
                     1, 1, 1, 1, 1, 0,
                     1, 0, 1, 1, 1, 1, 
                     0, 1, 1, 1, 1, 1, 
                     0, 1, 1, 0, 1, 1
                     ],
    'Restroom_DCFC': [
                     1, 0, 1, 1, 1, 1,
                     1, 1, 0, 1, 1, 1, 
                     1, 0, 1, 0, 0, 1, 
                     1, 1, 0, 1, 1, 0
                     ],
    'Restroom_DWPT': np.zeros((24,), dtype=int),
    
    'RRS_Level2': [
                1, 1, 1, 1, 0, 0,
                1, 0, 1, 1, 1, 1, 
                0, 1, 1, 1, 1, 1, 
                0, 0, 1, 1, 0, 0
                ],
    'RRS_DCFC': [
                0, 0, 1, 0, 1, 1,
                0, 1, 0, 1, 0, 0, 
                1, 0, 1, 0, 0, 0, 
                0, 1, 0, 1, 1, 0
                ],
    'RRS_DWPT': np.zeros((24,), dtype=int)
}

sp = pd.DataFrame(sp_question)
sp

,Scenario,SoC,Cost_Level2,Cost_DCFC,Cost_DWPT,Charging_Time_Level2,Charging_Time_DCFC,Charging_Time_DWPT,Access_Time_Level2,Access_Time_DCFC,...,Waiting_Time_DWPT,Total_Time_Level2,Total_Time_DCFC,Total_Time_DWPT,Restroom_Level2,Restroom_DCFC,Restroom_DWPT,RRS_Level2,RRS_DCFC,RRS_DWPT
0,G1.1,80,3,11,22,60,10,0,3,15,...,0,154,115,85,1,1,0,1,0,0
1,G1.2,50,5,8,16,120,4,0,9,5,...,0,217,109,85,1,0,0,1,0,0
2,G1.4,30,15,21,35,240,14,0,3,15,...,0,334,119,85,1,1,0,1,1,0
3,G1.5,80,3,11,22,60,10,0,3,15,...,0,154,115,85,1,1,0,1,0,0
4,G1.3,50,4,8,16,90,4,0,6,10,...,0,187,104,85,1,1,0,0,1,0
5,G1.6,80,3,11,16,60,10,0,6,10,...,0,151,135,85,0,1,0,0,1,0
6,G2.2,30,15,27,35,240,4,0,9,5,...,0,334,144,85,1,1,0,1,0,0
7,G2.1,50,4,8,22,90,4,0,3,15,...,0,178,134,85,0,1,0,0,1,0
8,G2.3,30,15,27,35,240,24,0,6,10,...,0,337,124,85,1,0,0,1,0,0
9,G2.4,30,15,21,28,240,14,0,3,15,...,0,328,144,85,1,1,0,1,1,0
10,G2.5,30,15,21,40,240,14,0,6,10,...,0,334,124,85,1,1,0,1,0,0
11,G2.6,50,5,8,22,120,6,0,6,10,...,0,214,116,85,1,1,0,1,0,0
12,G3.1,50,4,8,16,90,6,0,9,5,...,0,187,111,85,0,1,0,0,1,0
13,G3.2,50,4,11,19,90,10,0,3,15,...,0,178,140,85,1,0,0,1,0,0
14,G3.3,30,15,27,40,240,14,0,9,5,...,0,337,119,85,1,1,0,1,1,0
15,G3.4,30,15,21,40,240,24,0,6,10,...,0,331,149,85,1,0,0,1,0,0
16,G3.5,30,15,21,28,240,24,0,9,5,...,0,337,129,85,1,0,0,1,0,0
17,G3.6,30,15,27,35,240,14,0,6,10,...,0,334,124,85,1,1,0,1,0,0
18,G4.1,80,3,8,19,60,6,0,6,10,...,0,157,106,85,0,1,0,0,0,0
19,G4.2,50,4,8,16,90,6,0,9,5,...,0,184,126,85,1,1,0,0,1,0
20,G4.3,50,5,11,19,120,10,0,3,15,...,0,208,140,85,1,0,0,1,0,0
21,G4.4,30,15,27,28,240,14,0,3,15,...,0,334,119,85,0,1,0,1,1,0
22,G4.5,50,5,8,19,120,6,0,9,5,...,0,220,101,85,1,1,0,0,1,0
23,G4.6,80,3,8,19,60,4,0,3,15,...,0,154,109,85,1,0,0,0,0,0

In [19]:
res = pd.merge(choice_exp, sp, on = 'Scenario', how = 'inner')
res['ResponseId'] = np.arange(len(res))
res

,ResponseId,Age,Gender,Income,EVExp,EVBrand,ChargeTimePref,Ethnic,Education,Occupation,...,Waiting_Time_DWPT,Total_Time_Level2,Total_Time_DCFC,Total_Time_DWPT,Restroom_Level2,Restroom_DCFC,Restroom_DWPT,RRS_Level2,RRS_DCFC,RRS_DWPT
0,0,Over 54,Female,"$25,000 - $49,999",No EV Experience,NaN,NaN,Non-hispanic,High school graduate,Retired,...,0,154,115,85,1,1,0,1,0,0
1,1,Over 54,Female,"$150,000 or more",No EV Experience,NaN,NaN,Non-hispanic,Graduate or professional school,Retired,...,0,154,115,85,1,1,0,1,0,0
2,2,Under 35,Male,"$50,000 - $74,999",Have EV Experience,Toyota,NaN,Hispanic,Graduate or professional school,Employed full-time,...,0,154,115,85,1,1,0,1,0,0
3,3,Under 35,Female,"$25,000 - $49,999",No EV Experience,NaN,NaN,Non-hispanic,High school graduate,Employed part-time,...,0,154,115,85,1,1,0,1,0,0
4,4,35-54,Male,"$50,000 - $74,999",No EV Experience,NaN,NaN,Non-hispanic,College graduate,Employed full-time,...,0,154,115,85,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6613,6613,35-54,Female,"$25,000 - $49,999",No EV Experience,NaN,NaN,Non-hispanic,College graduate,Unemployed and not looking for work,...,0,154,109,85,1,0,0,0,0,0
6614,6614,Over 54,Female,"Under $25,000",No EV Experience,NaN,NaN,Non-hispanic,Some college,Retired,...,0,154,109,85,1,0,0,0,0,0
6615,6615,Over 54,Female,"$25,000 - $49,999",No EV Experience,NaN,NaN,Non-hispanic,Technical training beyond high school,Unemployed and not looking for work,...,0,154,109,85,1,0,0,0,0,0
6616,6616,Under 35,Female,"$25,000 - $49,999",No EV Experience,NaN,NaN,Non-hispanic,High school graduate,Employed full-time,...,0,154,109,85,1,0,0,0,0,0
6617,6617,Over 54,Female,"$50,000 - $74,999",No EV Experience,NaN,NaN,Non-hispanic,Some college,Retired,...,0,154,109,85,1,0,0,0,0,0

In [20]:
# One-hot encode the categorical variable
# res_encode = pd.get_dummies(res, columns = ['Decision'], drop_first = False)
# res_encode

res['Decision_Encode'] = res.apply(lambda x: 1 if x['Decision'] == 'Level 2' else(2 if x['Decision'] == 'DCFC' else 3), axis = 1)
res

,ResponseId,Age,Gender,Income,EVExp,EVBrand,ChargeTimePref,Ethnic,Education,Occupation,...,Total_Time_Level2,Total_Time_DCFC,Total_Time_DWPT,Restroom_Level2,Restroom_DCFC,Restroom_DWPT,RRS_Level2,RRS_DCFC,RRS_DWPT,Decision_Encode
0,0,Over 54,Female,"$25,000 - $49,999",No EV Experience,NaN,NaN,Non-hispanic,High school graduate,Retired,...,154,115,85,1,1,0,1,0,0,2
1,1,Over 54,Female,"$150,000 or more",No EV Experience,NaN,NaN,Non-hispanic,Graduate or professional school,Retired,...,154,115,85,1,1,0,1,0,0,2
2,2,Under 35,Male,"$50,000 - $74,999",Have EV Experience,Toyota,NaN,Hispanic,Graduate or professional school,Employed full-time,...,154,115,85,1,1,0,1,0,0,2
3,3,Under 35,Female,"$25,000 - $49,999",No EV Experience,NaN,NaN,Non-hispanic,High school graduate,Employed part-time,...,154,115,85,1,1,0,1,0,0,2
4,4,35-54,Male,"$50,000 - $74,999",No EV Experience,NaN,NaN,Non-hispanic,College graduate,Employed full-time,...,154,115,85,1,1,0,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6613,6613,35-54,Female,"$25,000 - $49,999",No EV Experience,NaN,NaN,Non-hispanic,College graduate,Unemployed and not looking for work,...,154,109,85,1,0,0,0,0,0,2
6614,6614,Over 54,Female,"Under $25,000",No EV Experience,NaN,NaN,Non-hispanic,Some college,Retired,...,154,109,85,1,0,0,0,0,0,1
6615,6615,Over 54,Female,"$25,000 - $49,999",No EV Experience,NaN,NaN,Non-hispanic,Technical training beyond high school,Unemployed and not looking for work,...,154,109,85,1,0,0,0,0,0,2
6616,6616,Under 35,Female,"$25,000 - $49,999",No EV Experience,NaN,NaN,Non-hispanic,High school graduate,Employed full-time,...,154,109,85,1,0,0,0,0,0,3
6617,6617,Over 54,Female,"$50,000 - $74,999",No EV Experience,NaN,NaN,Non-hispanic,Some college,Retired,...,154,109,85,1,0,0,0,0,0,3

## Apollo Dataset Preparation

In [21]:
res_apollo = res

# If Restroom and Retai, Restaurant, and Shopping altogether
# res_apollo['RRRS_Level2'] = ((res_apollo['RRS_Level2'] == 1) & (res_apollo['Restroom_Level2'] == 1)).astype(int)
# res_apollo['RRRS_DCFC'] = ((res_apollo['RRS_DCFC'] == 1) & (res_apollo['Restroom_DCFC'] == 1)).astype(int)
# res_apollo['RRRS_DWPT'] = ((res_apollo['RRS_DWPT'] == 1) & (res_apollo['Restroom_DWPT'] == 1)).astype(int)

res_apollo.to_csv('res_dyn_apollo.csv', index=False)